/* Background Color */

body {
    background-color: rgb(200,200,200);
    color:white;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
}
h1 {
    background-color: darkcyan;
    padding:inherit;}
h2 {
    background: #ee3e80;
    padding: inherit;}
p {
    background-color: white;
    color: rgb(100,100,90);
    padding: inherit;}

